
		@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body{
		
		color:#1a1a1a; font:16px/1.5 Helvetica,"微软雅黑","黑体",Arial,Tahoma;
	}
.wall {
		border:1px solid #AEB4B9;
		box-shadow:0px 1px 1px #D7D7D7; 
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		width:95%;
		background-color:#FAFAFA;
		background:-webkit-gradient(linear,
	    left top,left bottom,
		from(#FEFEFE),to(#FAFAFA));
		background-image:-moz-linear-gradient(top, #FEFEFE 0%,#FAFAFA 100%);
		margin:10px auto;

}
header {
	padding:0px 0 0px 0;
	position:relative;
	height:98px;
	display:block;
	margin:0 auto;
	z-index:999;
	background:url(../images/head_ico.png) no-repeat center 28px;
}
h1, h2, h3, h4, h5, h6 {
	color:#fcad06; font:14px/1.5 Helvetica,"微软雅黑","黑体",Arial,Tahoma;
}
h1 {
	font-size:30px;
	text-shadow:2px 0px 1px #FFF;
}
h1 span {
	color:#555; font:16px/1.5 Helvetica,"微软雅黑","黑体",Arial,Tahoma;
	display:block;
	text-shadow:2px 0px 1px #FFF;
}
h2 {
	font-size: 24px;
}
h2 a {
	color: #000;
}
h3 {
	font-size:18px;
	text-shadow:2px 0px 1px #FFF;
}
h3 small {
	font-size:18px;
}

p {
	margin:10px 0;
}
.header {
	position:relative;
	text-align:center;
}

.date {
	text-align:center;
	text-shadow:1px 0px 1px #FFF;
	line-height:28px;
	background:url(../images/logo_ribbon.png) no-repeat center center;
	display:block;
	width:80%;
	margin:0 auto;
}
.header .text .h-left {
	width:50%;
	float:left;
	text-align:right;
}
.header .text .h-right {
	width:50%;
	float:right;
	text-align:left;
}
.header .text .h-left div {
	margin-right:35px;
	font-size:70%;
}
.header .text .h-right div {
	margin-left:40px;
	font-size:70%!important;
}
.mid {
	display:block;
	margin:0 auto;
	padding:10px 0px;
}
footer {
	position:relative;
	height:10px;
	display:block;
	margin:0 auto;
}
.mid h3 {
	color:#1a1a1a;
	background:url(../images/column-h-line.png) no-repeat bottom;
	width:100%;
	padding-bottom:5px;
	margin-bottom:10px;
	text-shadow:2px 0px 1px #FFF;
	text-align:center
}
#webcarousel li .image-background {
	border:none!important;
	padding: 0px!important;
	background-color:transparent!important;
	position: absolute;
	display: block;
	bottom:0px;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	height:15px;
}
.carousel_paging2 {
	border-radius: 5px;
	background: #ccc;
	width: 5px;
	height: 5px;
	display:inline-block;
}
.carousel_paging2_selected {
	border-radius: 5px;
	background: #bf4376;
	width: 5px;
	height: 5px;
	display:inline-block;
}
.spacer {
	width: 5px;
	float: left;
}
.carousel_content {
	-webkit-transform: translate3d(0, 0, 0);
}
.invititle {
	background:url(images/slider-inner-bg.png) no-repeat top center;
	padding-top:50px;
	margin-top:-10px;
}
.invitext {
	background:url(images/slider-outer-title.png) repeat-x bottom;
	padding-bottom:20px;
	margin-bottom:-20px;
}
.invitext p {
	line-height:30px;
	text-align:center
}
.invitext .ip4 {
	color:#e50d39;
	font-size:20px;
}
.invitext .ip3 span {
	color:#e50d39;
}
.biz {
	width:90%;
	text-align:center;
	margin:10px auto -20px auto;
}
.biz a {
	color:#bf4376;
	font-weight:bold;
}
#cf_submit_p {
	text-align:right;
	margin:10px 0;
}
.error {
	display: none;
	padding:10px;
	color: #D8000C;
	font-size:12px;
	background-color: #FFBABA;
}
.success {
	display: none;
	padding:10px;
	color: #044406;
	font-size:12px;
	background-color: #B7FBB9;
	margin-top: 20px;
}
.answer .textbox, .answer #message, .sidebar-col .textbox {
	padding:8px;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background:#f7f7f7;
	border:1px solid #cecece;
	box-shadow:inset 1px 1px 2px #e2d8d7;
	-webkit-box-shadow:inset 1px 1px 2px #e2d8d7;
	-moz-box-shadow:inset 1px 1px 2px #e2d8d7;
}
.answer .textbox, .sidebar-col .textbox {
	margin-bottom:20px;
	width:100%;
}
.sidebar-col .textbox {
	margin-bottom:0px;
}
.answer #message {
	width:100%;
	height:100px;
	font-family:Arimo, sans-serif;
	font-size:14px;
	font-style:italic;
}
.answer #send_message, .answer #btn_sub {
	background: none repeat scroll 0 0 #ff7992;
	border: 1px solid #fb5372;
	margin:0px;
	box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	color: #FFFFFF;
	padding: 4px 20px;
	font-family: Oswald, sans-serif;
	font-size:20px;
	text-shadow:1px 1px 1px #4d304e;
	width:185px;
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.answer #send_message:hover,.answer #btn_sub:hover, footer .submit-button:hover {
	cursor: pointer;
	background:#c03d74;
}
.answer .radiobutton {
	font-size:14px;
}
#contact_form {
	position: relative;
}
.photo ul{ list-style:none; margin:0; padding:0; overflow:hidden;}
.photo ul li{ width:99%; float:left; text-align:center}
.photo ul li a{ border:none; !important}
.photo ul li img{ border:3px #FFF solid;border-radius:15px;
	-webkit-border-radius:3px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 1px1px 1px rgba(0, 0, 0, 0.13); }
.map {border:3px #FFF solid;	border-radius:15px;
	-webkit-border-radius:3px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 1px1px 1px rgba(0, 0, 0, 0.13);
	}
	