html, body, header, .nav, footer, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea, button {
    border: 0 none;
    font-size: 100%;
    font-style: inherit;
    font-weight: normal;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
span {
	font-weight: inherit;
}

textarea, input {
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	width: 98%;
	padding: 5px;
}

button {
	border-radius: 5px;
	width: 100%;
	padding: 5px;
	color: white;
	background-color: #FB4D4C;
}

/**
 * 全局
 */

.home .header, .home .header a, .nav.menus ul li a { /* 首页和菜单链接 */
	text-transform: uppercase;
	text-decoration: none;
}
.nav ul li a, .page .footer p.back a {
    color: #FFFFFF;
}
.nav ul li a, .page .footer p.back, a.map:after {
    background-color: #cc0000;
	background-image:url(../images/2010022243015517.jpg)
}
div.imgcontent img { /* 插图 */
	width: 100%;
}
div.textcontent { /* 文字 */
	line-height:1.4em;
	font-size: 16px;
	background-image:url("../images/20120818123158125.jpg");
}
.tag3,.tag2,.tag1{background-image:url("../images/20120818123158125.jpg");}
div.textcontent>* {
	margin: 10px;
}
div.textcontent div {
	max-width:100%;
}
div.textcontent img {
	max-width:100%;
}
div.textcontent a {
	text-decoration:none;
	color:grey;
}
div.wedding p {
	line-height:1.4em;
	font-size: 16px;
	margin: 5px 10px;
}
a.map { /* 地图 */
	position: relative;
	display: block;
	width: 312px;
	margin: 0 auto;
	height: 300px;
}
a.map:after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../images/external-link.png');
	position: absolute;
	background-repeat: no-repeat;
	background-position: 2px 5px;
	top: 2px;
	right: 2px;
}
a.map img {
	border-style: solid;
    border-width: 6px;
    border-color: #FB4D4C;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 280px;
}
/**
 * 首页
 */
.home .container-home {
	height: 100%;
	position: relative;
}
.container-home{ background-image:url(../images/bottom.png); background-position:0 100%; background-repeat:no-repeat; background-size:100%;}
.home .header {
    position: relative;
	margin: 0 auto;
	display: inline-block;
	margin-left:0px;
	width: 95%;
	top: 35%;
	position: absolute;
    background-color: rgba(#cc0000);
	filter:alpha(opacity=80);
	padding-bottom:10px;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:0 100%;


	
}
.home .footer {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.7);
	position:absolute;
	left:0px;
	bottom:0px;
	height:auto;
	width:100%;
	overflow: auto;
}
.home .footer #comment {
	float: right;
	color: #FB4D4C;
	margin-right: 10px;
}
.home .footer #comments {
	clear: both;
	border-radius:5px;
	border: 1px solid #7C7C7C;
	margin: 10px;
	padding: 5px;
}
.home .header h1 {
	support rgba */
	display: block;
	padding: 0 6px 0 6px;
	margin: 0px 0 0px 0;
	line-height: 1em;
	font-size:20px;
	background-color:#930;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;


}
.home .header h1.title a {
	color: #fff;
 }

.home .header p.subtitle a {
	color: #7d412a;
}
.home .header p {
	background-color: rgb(255,255,255); /* fallback for IE8 and other old browsers which not support rgba */
	background-color:  rgba(255,255,255, 0.7);
	display: inline-block;
	font-size: 1.3em;
	padding: 1px 6px;
	margin: 12px 0 2px 0;
	line-height: 1;
	color: #7d412a;
	clear:both;
	float:left;
 }

.home .header .btn-collections {
	margin: auto  auto ;
	width: 108px;
	height: 132px;
}
.home .header .btn-collections span {
	width: 32px;
	height: 45px;
	display: block;
	position: absolute;
	margin-left: 25px;
	margin-top: 15px;
}
.home .header .btn-collections a {
	background: transparent url('../images/btn-home.png') no-repeat 0 0;
	width: 108px;
	height: 132px;
}
/**
 * Logo,菜单，相册
 */
.page .header img.logo {
	width: 100%;
	display:block;
	background-color:#cc0000;
		background-image:url(../images/2010022243015517.jpg)

}
.nav.menus ul { 
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.nav.menus ul li {
	display: inline;
}
.nav.menus ul li a {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	font-size: 1.0em;
	padding: .4em 0;
	float: left;
	width: 49.8%;
	text-align: center;
}
.nav.menus ul li:nth-child(3n+3) a {
	border-right-width: 0;
}
.nav.menus ul li.selected a {
	background-image: url('../images/menu-selected.png');
	background-repeat: repeat;

}
div.gallery ul.collections {
	margin: 0;
	list-style: none;
	padding: 0;
	position: relative;
	overflow: hidden;
}
div.gallery ul.collections li {
	display: inline;
	position: relative;
	overflow: hidden;
}
div.gallery ul.collections li a {
	width: 33.125%;
	display: inline-block;
	line-height: 0;
	float: left;
	
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}



 


div.gallery ul.collections li:nth-child(3n+3) a {
	border-right: none;
}
div.gallery ul.collections li a img {
	padding: 0;
	margin: 0;
	width: 100%;
}
div.gallery ul.collections li a {
	border-color: #fff;
}

.logo {
	text-align : left ;
	font-weight : normal ;
	font-style : normal ;
	text-transform : none ;
	text-decoration : none ;
	font-size : 2.5em ;
	font-family : Arial, Helvetica, sans-serif;
} 
.title {
	text-align : left ;
	text-transform : uppercase ;
	font-style : normal ;
	font-weight : normal ;
	text-decoration : none ;
	margin: 18px 0 2px 0;
	font-size : 3.8em ;
	font-family : Arial, Helvetica, sans-serif ;
} 
.subtitle {
	text-align : left ;
	font-weight : normal ;
	font-style : normal ;
	text-transform : uppercase ;
	text-decoration : none ;
	font-size : 1.6em ;
	font-family : Arial, Helvetica, sans-serif ;
}

.subtitle-comment a  {
	/*background: transparent url(../images/comments.png) no-repeat;*/
	width: 40px;
	height: 44px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.textcontent {
	text-align : left ;
	font-weight : normal ;
	font-style : normal ;
	text-transform : none ;
	text-decoration : none ;
	font-size : 1em ;
	font-family : Arial, Helvetica, sans-serif ;
} 
.link {text-align : left ;font-weight : normal ;font-style : normal ;text-transform : uppercase ;text-decoration : none ;font-size : 1.4em ;font-family : Arial, Helvetica, sans-serif ;} 
.menu {text-align : center ;font-weight : normal ;font-style : normal ;text-transform : uppercase ;text-decoration : none ;font-size : 1.5em ;font-family : Arial, Helvetica, sans-serif ;}

.page .footer p.back {
	margin: 0;
	height: 55px;
	margin-top: 1px;
}
.page .footer p.back a {
	text-decoration: none;
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 0 22px;
	line-height: 2.4em;
	display: block;
}
.page .footer p.back a:before {
	content: "";
	width: 14px;
	height: 25px;
	background: transparent url('../images/btn-backhome.png') no-repeat 0 0;
	position: relative;
	display: inline-block;
	top: 8px;
}
.page .footer p.back a:hover {
	text-decoration: underline;
}

.page .formfield {
	padding: 5px 10px;
	clear: both;
}

.page .formfield label {
	width: 15%;
	float: left;
}
.page .formfield .wrapper {
	float: left;
	width: 85%;
}

.page .formfield #name, .page button {
	height: 30px;
}
.page .commenter {
	font-weight: bold;
	color: #FB4D4C;
}

.page .comment-detail {
	margin: 10px 0px;
}

.page .comment-divider {
	background: url(../images/dashed.png)  bottom repeat-x;
	height: 2px;
}

.page textarea {
	height: 50px;
}
.page #errors {
	margin-left: 10px;
	color: red;
}

.page #comments {
	margin: 10px;
}

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}


/*
 * 防止touch穿透(Android某些机型）
 */
a,div,img,li,ul {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
    body {
     	background: url('../images/background-grey.jpg') repeat scroll 0 0 transparent;
    	width:640px;
    	margin: 10px auto;
    	font-size: 14px;
    	line-height: 22px;
    }
    
	div.container {
		border-radius:5px;
		box-shadow:0 1px 5px #a6a6a4;
		background-image:url(../images/20120818123158125.jpg);
	}
	
	.header { 
 	}
	.header img {
		border-radius: 5px 5px 0 0;
	}
	
	.page .footer p.back {
		border-radius: 0 0 5px 5px;
	}
	
	.nav.menus ul li a {
		width: 49.8%;
	}
	div.gallery ul.collections li a {
		width: 33.15%;
	}
	
	
	/*留言图片*/
	
.collections2 img{ width:50px; height:120px;}

div.gallery ul.collections2 {
	margin: 0;
	list-style: none;
	padding: 0;
	position: relative;
	overflow: hidden;
}
div.gallery ul.collections2 li {
	display: inline;
	position: relative;
	overflow: hidden;
}
div.gallery ul.collections2 li a {
	width: 19.8%;
	display: inline-block;
	line-height: 0;
	float: left;
	
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}
div.gallery ul.collections2 li:nth-child(3n+3) a {
	border-right: none;
}
div.gallery ul.collections2 li a img {
	padding: 0;
	margin: 0;
	width: 100%;
}
div.gallery ul.collections2 li a {
	border-color: #fff;
}
.lypho h3{ font-family:微软雅黑; padding-left:10px; line-height:40px; font-weight:700; color:#F30}
	
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
